@model PresentIT.Models.Candidate

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <p>Hi @Model.Firstname, you applied on the @Model.Created.ToLongDateString()</p>

    @if (Model.Accepted)
    {
        <div>
            <p>Great News! You have progressed to the next stage, we shall be in touch!</p>
        </div>
    }
    else
    {
        <div>
            <p>Thanks for checking in, your application is still under review at this time.</p>
        </div>
    }

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VideoURL)
        </dt>
        <dd class="col-sm-10">

            <video width="400" controls controlsList="nodownload">
                <source src=@Html.DisplayFor(model => model.VideoURL) type="video/mp4">
                Your browser does not support HTML video.
            </video>
        </dd>
    </dl>
</div>