@model IEnumerable<PresentIT.Models.Candidate>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Thanks for your submission, we shall be in touch!</h1>
